<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>bērnudārzu informācija</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/kindergarten.js"></script>
</head>
<body>
    <!--/*@thymesVar id="kindergarten" type="com.zz.dats.kindergarten.db.entity.KindergartenEntity"*/-->
    <div th:text="${kindergarten.getId()}"></div>
    <div th:text="${kindergarten.getName()}"></div>
    <div th:text="${kindergarten.getAddress()}"></div>
    cik bērnu var ietilpt bērnudārzā : <div style="display: inline-block" th:text="${kindergarten.getMaxKids()}"></div><br>

    bērnu saraksts :
    <div th:each="kid : ${kindergarten.getKindergartenKidsById()}">
        <div th:text="${kid.getKidByKidId().toString()}"></div>
    </div>

    <br>
    rindas saraksts :
    <div th:each="kid : ${kindergarten.getQueuesById()}">
        <div style="display: inline-block" th:text="${kid.getKidByKidId().toString()}"></div><button class="removeFromQueue" th:data-kidId="${kid.getKidByKidId().getId()}">-</button>
    </div>

    <form action="'/kindergarten/' + ${kindergarten.getId()}" method="post">
        <input name="id" type="hidden" th:value="${kindergarten.getId()}">
        <label for="newMember">jauns bērns</label><select id="newMember" name="newMember"><option th:each="kid : ${kids}" th:value="${kid.getId()}" th:text="${kid.toString()}"></option></select>
        <button type="submit">pievienot</button>
    </form>

    <form th:action="'/kindergarten/dispatch/' + ${kindergarten.getId()}" method="post">
        <button type="submit">pārvietot no rindas uz bērnu dārzu</button>
    </form>

</body>
</html>